# Dependencies
node_modules/
__pycache__/
venv/
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.pyc

# Misc
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# Project specific
config.toml
env 